*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 16px 120px;
    background-color: #ffffff , rgba(255, 255, 255, 1);
    
}

.logo{
    display: flex;
    align-items: center;
    margin: 16px 120px;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 16px 24px;
    gap: 32px;
    
}

.nav-links a {
    text-decoration: none;
    list-style: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #45a049;
}

.btn{
    margin: 16px 120px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #308868;
    
}

.btn-text{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}


/* banner section style */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.badge {
    display: inline-flex;
    text-align: center;
    margin-top: 154px;
    gap: 16px;
    background: #fff;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.badge .dot {
    width: 16px;
    height: 16px;
    background: #2e7d32;
    border-radius: 50%;
}

    .hero-content{
        text-align: center;
    }


    .hero .hero-content h1{
    font-size: 72px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.9;
    margin: 16px 295px;
    }

    .hero-content h1 span{
    color: #30B868;
    margin-top: 24px;
    }

    .hero .hero-content p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 265px;
    }

    .buttons {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 16;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}


.btn.one {
    background: #30B868;
    color: #fff;
    gap: 10px;
}

.btn.one:hover {
    background: #2e8b57;
}

.btn.two {
    border: 1px solid #fff;
    color: #fff;
    background-color: none;
}


.btn.two:hover {
    background: #2e8b57;
}

.notes {
    background: #FFFFFF;
    color: #fff;
    margin: 0px 120px 120px 120px;
    padding: 100px 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* TITLE */
.notes h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
    margin-bottom: 60px;
}

/* GRID */
.features {
    display:flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

/* CARD */
.card {
    height: 300px;
    width: 322px;
    color: #0a2540;
    padding: 24px;
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.card:hover {
    transform: translateY(-6px);
}

/* ICON */
.icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px;
}

.icon img {
    width: 32px;
    height: 32px;
    color: #FFFFFF;
}

/* TEXT */
.card h3 {
    color:#001931;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.card p {
    color:#627382 ;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}