*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 16px 120px;
    background-color: #ffffff , rgba(255, 255, 255, 1);
    
}

.logo{
    display: flex;
    align-items: center;
    margin: 16px 120px;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 16px 24px;
    gap: 32px;
    
}

.nav-links a {
    text-decoration: none;
    list-style: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #45a049;
}

.btn{
    margin: 16px 120px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #308868;
    
}

.btn-text{
    color: rgba(255, 255, 255, 1);
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}


/* banner section style */
.hero {
    max-width: 1600px;
    margin: 0 auto;
    height: 700px;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.badge {
    display: inline-flex;
    text-align: center;
    margin-top: 154px;
    gap: 16px;
    background: #fff;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.badge .dot {
    width: 16px;
    height: 16px;
    background: #2e7d32;
    border-radius: 50%;
}

.hero-content{
        text-align: center;
    }


.hero .hero-content h1{
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 0.9;
    margin: 16px 295px;
    }

.hero-content h1 span{
    color: #30B868;
    margin-top: 24px;
    }

.hero .hero-content p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 16px 265px;
    }

.common-btn{
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.common-btn:hover{
    background-color: tomato;
}

.common-btn-two{
    background: none;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
}
.common-btn-two:hover{
    background-color: #30B868;
    border: none;
}

.btn-span{
    margin: 0px 5px;
}



/* Notes Section style here */
.notes {
    background: #FFFFFF;
    color: #fff;
    margin: 0px 120px 120px 120px;
    padding: 100px 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}


.notes h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
    margin-bottom: 60px;
}


.features {
    display:flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


.card {
    height: 300px;
    width: 322px;
    color: #0a2540;
    padding: 24px;
    border-radius: 8px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.card:hover {
    transform: translateY(-6px);
}


.icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px;
}

.icon img {
    width: 32px;
    height: 32px;
    color: #FFFFFF;
}


.card h3 {
    color:#001931;
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.card p {
    color:#627382 ;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
}


/* ----second brain section style here */
.second-brain-section{
    margin-top: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.second-brain-section h5{
    text-transform: uppercase;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 16px;
}
.second-brain-section h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.second-brain-section p{
    color: #627382;
    margin-bottom: 40px;
}

.checklist{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}


/* think section style starts here */
.think-section{
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
    margin: 120px auto;
}
.think-section p{
    color: #627382;
    margin: 16px 0px 24px 0px;
}
.think-section h3{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.access-div{
    margin-top: 16px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: #627382;
    border: 1px solid red;
}


/* --footer styles here */
footer{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-content h5{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.footer-content a i{
    color: white;
    margin-right: 16px;
}

hr{
    color: #E5E7EB;
    opacity: 0.2;
}

.final-footer{
    text-align: center;
    color: rgba(250, 250, 250, 1);
}
.final-footer p{
    margin-top: 30px;
}