*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 16px 120px;
    background-color: #ffffff , rgba(255, 255, 255, 1);
    
}

.logo{
    display: flex;
    align-items: center;
    margin: 16px 120px;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 16px 24px;
    gap: 32px;
    
}

.nav-links a {
    text-decoration: none;
    list-style: none;
    color: #333;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #45a049;
}

.btn{
    margin: 16px 120px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #308868;
    
}

.btn-text{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

